include mixin
include data
include video
include flow

doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    link(rel="stylesheet", href="../assets/css/styles.css")
  body
    header.l-header
      h1
        +pic('FV.jpg', 'FV-sp.jpg', '画期的な事業モデルが支持されています')
    main.l-main
      .l-container
        section.p-top__lead.l-container__full
          h2.p-top__lead-heading
            +pic('lead-heading.jpg', 'lead-heading-sp.jpg', '')
          .p-top__lead-video
            +video()

        section.p-top__cta.l-container__full
          h2.p-top__cta-heading
            |ヒラックス加盟説明会への<br>お申し込みはこちら
          .c-btn-center
            a(href="").c-btn__cta
              |説明会に参加する
              span.icon
                +img('btn-cta-icon.svg')

        +flow()

        section.p-top__video
          +heading('事業説明動画の注目シーン<span>5</span>選', 'video')
          .p-top__video-desc
            |ヒラックスのビジネスモデルをより理解した状態で、フランチャイズ加盟説明会に<br>参加していただきたいので<span>「事業説明動画」をしっかりとご覧ください。</span>

        //- ここから
        section.p-top__reason
          +heading('ヒラックスのフランチャイズが<span>手堅い理由</span>', 'reason')

          <p>デイサービスFCは、単独開業と比べて本部の支援を受けられるので開業・運営リスクが低い点が魅力です。ブランド力を活かしつつ地域に密着したサービスを提供でき、利用者・家族から高い評価を得ています。</p>

          <div class="p-top__reason-content">
            //-  この中をお願いします
          </div>


        section.p-top__reason-2.l-container__full
          +heading('ヒラックス<span>2</span>つの理由', 'reason')
          <div class="p-top__reason-2-inner">
            //-  この中をお願いします
          </div>

          .p-top__reason-2-new.l-container__full
            <div class="p-top__reason-2-new-heading">
              //-  この中に「フランチャイズモデルとは？」を入れてください
            </div>


        section.p-top__strength.l-container__full
          +heading('ヒラックスフランチャイズ<span>5</span>つの強み', 'strength')

          <div class="p-top__strength-content">
            //-  この中をお願いします
          </div>

        //- ここまで


    footer.l-footer
      .l-footer__inner
        .l-footer__logo
          +img('logo.svg', 'logo-sp.svg', '')
        nav.l-footer__nav
          ul.l-footer__nav-list
            each item in footer.left
              li.l-footer__nav-item
                a.l-footer__nav-link(href=item.link)
                  span.l-footer__nav-icon
                    +img('footer-icon.svg')
                  span.l-footer__nav-text
                    |!{item.text}
          ul.l-footer__nav-list
            each item in footer.mid
              li.l-footer__nav-item
                a.l-footer__nav-link(href=item.link)
                  span.l-footer__nav-icon
                    +img('footer-icon.svg')
                  span.l-footer__nav-text
                    |!{item.text}
          ul.l-footer__nav-list
            each item in footer.right
              li.l-footer__nav-item
                a.l-footer__nav-link(href=item.link)
                  span.l-footer__nav-icon
                    +img('footer-icon.svg')
                  span.l-footer__nav-text
                    |!{item.text}
      .l-footer__copy
        small
          |Copyright©2024 株式会社SPS All rights reserved.
